# ==================================================================
# FILE     no_usb_wakeup@.service
# OS       linux
# MACHINE  laptop3
# INFO     systemctl enable no_usb_wakeup@laptop3
#
# DATE     12.04.2022
# OWNER    Bischofberger
# ==================================================================

[Unit]
Description=Prevent USB devices to wake up from suspend

[Service]
ExecStart=/bin/bash -c "echo XHC >> /proc/acpi/wakeup"

[Install]
WantedBy=multi-user.target
