# ==================================================================
# FILE     .gitignore (for Dotfiles repository)
# MACHINE  all
# INFO     -
#
# DATE     07.10.2015
# OWNER    Bischofberger
# ==================================================================

# git shall ignore the following
all/.vim/spell/
all/.sdirs
