# ==================================================================
# FILE     .gitignore (for Dotfiles repository)
# MACHINE  all
# INFO     -
#
# DATE     01.01.2017
# OWNER    Bischofberger
# ==================================================================

*.swp

# git shall ignore the following
all/.vim/spell/
