[user]
	name = whilealive
	email = bruno.bischi@gmail.com
[credential]
	helper = cache --timeout=3600
[merge]
	tool = vimdiff
[core]
	editor = vim
[alias]
	lgb = log --name-status --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
  stat = status
