# ==================================================================
# FILE     /etc/systemd/system/resume@.service
# INFO     systemctl enable resume@laptop2
#
# DATE     09.06.2020
# OWNER    Bischofberger
# ==================================================================

[Unit]
Description=Local system resume actions
After=suspend.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/slock

[Install]
WantedBy=suspend.target
