[Desktop Entry]
Version=1.0
Type=Application
Name=Email
Comment=mutt and mbsync
Exec=email %f &
Icon=fastmail-icon.png
Terminal=false
Categories=Network;Email;
