# ==================================================================
# FILE     /etc/systemd/system/slock@.service
# INFO     systemctl enable slock@laptop3
#
# DATE     28.03.2022
# OWNER    Bischofberger
# ==================================================================

[Unit]
Description=Lock X session using slock for user %i
Before=sleep.target

[Service]
User=%i
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/xset dpms force suspend
ExecStart=/usr/bin/slock

[Install]
WantedBy=sleep.target
